ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", RUN+="/home/user_replace/.config/sound/scripts/usb_add_sound.sh"
ACTION=="remove", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", RUN+="/home/user_replace/.config/sound/scripts/usb_remove_sound.sh"
