[Desktop Entry]
Encoding=UTF-8
Name=Tor Browser
Comment=Tor Browser  is +1 for privacy and −1 for mass surveillance
Exec=/home/user_replace/Browser/start-tor-browser %U
Icon=/home/user_replace/Browser/browser/chrome/icons/default/default128.png
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=Tor Browser
Categories=Network;WebBrowser;Security;
