/*****----- Colors -----*****/
* {
    black:           #101419;
    white:           #DEE1E6;
    blue:            #70A5EB;
    gray:            #28344a;
}

/*****----- Fonts -----*****/
* {
    font: "JetBrains Mono Nerd Font 10";
}

/*****----- Global Settings -----*****/
* {
    padding:          0;
    margin:           0;
    border:           0;
    spacing:          0;
    background-color: transparent;
    border-color:     transparent;
    text-color:       @blue;
}

/*****----- Configuration -----*****/
configuration {

    /*---------- Keybindings ----------*/
    kb-move-front:              "KP_Home";
    kb-row-first:               "";
    kb-move-end:                "KP_End";
    kb-row-last:                "";
    kb-move-word-back:          "Alt+Left";
    kb-move-word-forward:       "Alt+Right";
    kb-remove-word-back:        "Alt+BackSpace";
    kb-remove-word-forward:     "Alt+Delete";
}

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    width:                       800px;
    border:                      2px solid;
    border-color:                @gray;
    background-color:            @black;
}

/*****----- Main Box -----*****/
mainbox {
    spacing:                     15px;
    padding:                     15px;
    children:                    [ "inputbar", "message" ];
}
