/*****----- Colors -----*****/
* {
    selected:       #70A5EB;
    black:          #101419;
    white:          #DEE1E6;
    green:          #76B97F;
    red:            #E05F65;
    gray:           #28344A;
}

/*****----- Fonts -----*****/
* {
    font: "Hack Nerd Font 10";
}

/*****----- Global Settings -----*****/
* {
    padding:          0;
    margin:           0;
    border:           0;
    spacing:          0;
    background-color: transparent;
    border-color:     transparent;
}

/*****----- Configuration -----*****/
configuration {

    /*---------- Keybindings ----------*/
    kb-move-front:              "KP_Home";
    kb-row-first:               "";
    kb-move-end:                "KP_End";
    kb-row-last:                "";
    kb-move-word-back:          "Alt+Left";
    kb-move-word-forward:       "Alt+Right";
    kb-remove-word-back:        "Alt+BackSpace";
    kb-remove-word-forward:     "Alt+Delete";
}

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    north east;
    anchor:                      north east;
    width:                       200px;
    x-offset:                    -15px;
    y-offset:                    57px;
    border:                      2px solid;
    border-color:                @gray;
    background-color:            @black;
}

/*****----- Main Box -----*****/
mainbox {
    spacing:                     10px;
    padding:                     15px;
    children:                    [ "inputbar", "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    spacing:                     10px;
    text-color:                  transparent;
    children:                    [ "textbox-prompt-colon", "prompt" ];
}

textbox-prompt-colon {
    expand:                      false;
    str:                         " ";
    padding:                     10px 20px;
    border-radius:               10px;
    background-color:            @red;
    text-color:                  @black;
}

prompt {
    padding:                     10px;
    border-radius:               10px;
    background-color:            @green;
    text-color:                  @black;
}

/*****----- Listview -----*****/
listview {
    lines:                       5;
    spacing:                     5px;
    text-color:                  @white;
}

/*****----- Elements -----*****/
element {
    padding:                     10px;
    border-radius:               10px;
    cursor:                      pointer;
    text-color:                  inherit;
}

element selected.normal {
    background-color:            @selected;
    text-color:                  @black;
}

element-text {
    cursor:                      inherit;
    text-color:                  inherit;
    vertical-align:              0.5;
}
