[Desktop Entry]
Name=PyCharm Community
Exec="/opt/Pycharm-Community/bin/pycharm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/opt/Pycharm-Community/bin/pycharm.svg
Comment=The pure Python IDE
StartupWNClass=jetbrains-pycharm-ce
StartupNotify=true
